<section> 
<h1> A specific user based on user id </h1>
  <div>
    <img src=<%= @author.photo %> />
    <div>
      <h2><%=@author.name%> </h2> 
      <span><%= @author.posts_count %></span>
    </div>
  </div>
  <p> <%=@author.bio%> </p>
  <ul>
    <%@author.recent_posts.each do |post|%>
      <li>
        <h3><%= link_to post.title, user_post_show_path(@author, post) %></h3>
        <p><%=post.text%></p>
        <div>
          <span> <%=post.comments_count%> </span>
           <span> <%=post.likes_count%> </span>
        </div>
      </li>
    <%end%>
  </ul>
  
  <button><%= link_to "See all posts", user_post_index_path(@author)%></button>
  <button><%= link_to 'Create new post', new_post_path(@user)%></button>
</section>