<section>
    <h1> Lists of Posts for a specific User </h1>
  <div>
    <img src=<%=@author.photo%>/>
    <h2><%=@author.name%></h2>
    <span> <%=@author.posts_count%> </span>
  </div>
  <ul>
   <%@posts.each do |post|%>
    <li> 
      <div>
        <h3><%=link_to post.title, user_post_show_path(@author, post)%></h3>
        <p><%=post.text%></p>
        <div>
          <span> <%=post.comments_count%> </span>
           <span> <%=post.likes_count%> </span>
        </div>
        <% if can? :destroy, post%>
          <%= form_with url: "/users/#{@author.id}/posts/#{post.id}" , method: :delete do |f|%>
            <%= f.submit 'Delete' %>
          <%end%>
        <%end%>
        <%post.recent_comments.includes(:author).each do |comment| %>
          <li><p> <span><%=comment.author.name %> :</span> <%=comment.text%></p></li>
        <%end%>
      </div>
    </li>
    <%end%>
  </ul>
</section>